<% layout("/layouts/boilerplate") %>

<!-- Used Bootstrap Alerts (https://getbootstrap.com/docs/5.3/components/alerts/) -->
<body>
    <div class="row mt-3">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <p class="alertHeading"><%= message %></p>
        </div>
    </div>
</body>